<h1 data-test="title">Book: {{ data.home.title }}</h1>
<div mat-dialog-content>
  <div data-test="price-nightly">{{ data.home.price_nightly | currency }} per night</div>

  <div data-test="check-in-date">
    <input [(ngModel)]="checkIn">
  </div>

  <div data-test="check-out-date">
    <input [(ngModel)]="checkOut">
  </div>

  <div data-test="price-total">
    Total: {{ calculateTotalPrice(checkIn, checkOut) | currency }}
  </div>
</div>
<!--<div mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close>No</button>-->
<!--  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>-->
<!--</div>-->
