h1 {
  margin: 1em 1em 0.05em 1em;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.booking-selection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
