<h1 mat-dialog-title data-test="title">Book: {{ data.home.title }}</h1>
<div mat-dialog-content>
  <h2 mat-dialog-title>
    <span class="price-nightly" data-test="price-nightly">
      {{ data.home.price_nightly | currency }}
    </span>
    &nbsp;per night
  </h2>

  <div class="mat-typography booking-selection-container">
    <mat-form-field appearance="fill">
      <mat-label>Choose a check in date</mat-label>
      <input [(ngModel)]="checkIn" [matDatepicker]="checkInPicker" data-test="check-in-date" matInput>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="checkInPicker"></mat-datepicker-toggle>
      <mat-datepicker #checkInPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a check out date</mat-label>
      <input [(ngModel)]="checkOut" [matDatepicker]="checkOutPicker" data-test="check-out-date" matInput>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
      <mat-datepicker #checkOutPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="price-total-container">
    <mat-form-field appearance="outline" [color]="'accent'">
      <input matInput readonly disabled
             class="price-total" data-test="price-total"
             [value]="calculateTotalPrice(checkIn, checkOut) | currency">
      <mat-hint>Total</mat-hint>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions [align]="'end'" data-test="submit-btn">
  <button mat-raised-button
          color="primary"
          (click)="bookStay()">
    Book Stay
  </button>
<!--  <button mat-button mat-dialog-close>No</button>-->
<!--  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>-->
</div>
