
<h1 class="page-header">Homes</h1>

<div class="homes-list">
  <div *ngFor="let home of homes$ | async"
       class="home-card"
       data-test="home">

    <div class="home-image" data-test="image">
      <img width="200em" src="{{home.image}}">
    </div>

    <div class="home-title" data-test="title">
      {{home.title}}
    </div>

    <div class="home-location" data-test="location">
      {{home.location}}
    </div>

    <div data-test="book-btn">
      <button>Book</button>
    </div>

  </div>
</div>
