@import "src/app/app.component";

// ^ pull common styling from main scss file

.homes-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1em;
}

.home-card {
  border: 5px solid $background-color-dark;
  background-color: $background-color;
  border-radius: 1em;
  padding: 0.5em;

  &:not(:first-of-type) {
    margin-left: 1em;
  }

  &:not(:last-of-type) {
    margin-right: 1em;
  }
}

.home-title {
  font-weight: bold;
}
