// style the app-header header elm
:host header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: mediumpurple;
  padding: 5px;
}

// style the app headeer .header-left div
:host header .header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

// add left margins to .header-left divs except for the first one
:host header .header-left div:not(:first-child) {
  margin-left: 10px;
}

// add left margins to .header-menu buttons except for the first one
:host header .header-menu button:not(:first-child) {
  margin-left: 5px;
}
